* {
	margin: 10px;
}
.jumbotron {
	font-family: 'Mr De Haviland', cursive;
	font-size: 40px;
	background-image: url("https://www.wildernessphotographs.com/images/xl/Kalalau-Valley-and-Na-Pali-coast-sunset-panorama.jpg");
	text-align: left;
	color: white;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.col-lg-7 {
	border-radius: 5px;
	border-style: solid;
	min-height: 350px;
}
.col-lg-4 {
	border-radius: 5px;
	border-style: solid;
	min-height: 150px;
	width: 95%;
	float: right;
}

#patmexaldesign {
	font-weight: bolder;
	font-family: 'Special Elite', cursive;
	color: black;	
}
.breadcrumb {
	font-size: 18px;
	min-height: 40px;
}
img.icon {
	height: 30px;
	width: 30px;
	margin: 1px;
}

img.thumbnail {
	border-radius: 5px;
	height: 210px;
	width: 210px;
	box-shadow: 1px 1px 1px 1px;	
}
#navspan {
	float: right;
	margin-top: 17.5px;
}