* {
	margin: 10px;
}

.jumbotron {
	font-family: 'Mr De Haviland', cursive;
	font-size: 40px;
	background-image: url("https://www.wildernessphotographs.com/images/xl/Kalalau-Valley-and-Na-Pali-coast-sunset-panorama.jpg");
	text-align: left;
	color: white;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#patmexaldesign {
	font-weight: bolder;
	font-family: 'Special Elite', cursive;
	color: black;	
}
/* Breadcrumb denotes Navbar links*/

.breadcrumb {
	font-size: 18px;
	min-height: 40px;
}

.breadcrumb-item {
	font-family: 'Racing Sans One', cursive;
}
/* Relates to the Social Media Links */

img.icon {
	display: inline;
	height: 32px;
	width: 32px;
	margin: 1px;
}

img.icon:hover {
	-webkit-transform: scale(1.4);
}

img.thumbnail {
	border-radius: 5px;
	height: 210px;
	width: 210px;
	box-shadow: 1px 1px 1px 1px;
	-webkit-transition: -webkit-transform .5s ease-in-out;
          transition:         transform .8s ease-in-out;	
}
img.thumbnail:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#navspan {
	float: right;
	margin-top: 17.5px;
	margin-bottom: 17.5px;
}
/* Relates to the Interior Divs */

.d-inline-block {
	margin-left: 40px;
	width: 100%;
	display: table;
	table-layout: fixed;
	min-height: 200px;
	border-radius: 3px;
}
h4 {
	text-align: center;
}
.column {
	margin: 20px;
	display: inline-block;
}